<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocation" version="1.0.0" targetFramework="net471" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net471" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net471" />
  <package id="MahApps.Metro" version="2.4.3" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.8.0" targetFramework="net471" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net471" />
  <package id="NAudio" version="1.10.0" targetFramework="net471" />
  <package id="NAudio.Lame" version="1.1.6" targetFramework="net471" />
  <package id="SoundTouch.Net" version="2.2.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="Xceed.Products.Wpf.DataGrid.Base" version="7.0.20452.1321" targetFramework="net471" />
  <package id="Xceed.Wpf.Controls" version="7.0.20452.1321" targetFramework="net471" />
  <package id="Xceed.Wpf.DataGrid" version="7.0.20452.1321" targetFramework="net471" />
</packages>